

/* .AuthPage {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--white);
  border-radius: 2vmin;
} */
.AuthPage label {
  font-size: 30px;
  display: block;
  text-align: center;
  
}
.AuthPage h3 {
  margin-top: 4vmin;
  text-align: center;
  color: var(--text-light);
  cursor: pointer;
}

button.btn.btn-primary.btn-lg{
  margin-top: 30px;
  float:right;
  border-radius: 5%;
}
button.btn.btn-primary.btn-lg:hovor{
	background-color: antiquewhite;
}

.AuthPage div.form-container {
	width: 409.73px;
	height: 583.11px;
  margin:auto;
  padding-top: 150px;
}

.AuthPage button{
	width: 152.04px;
}

.AuthPage button:hover {
	background-color: white;
}