.AuthPage {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  /* background-color: var(--white); */
  border-radius: 2vmin;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	
	align-items: center;
	min-height: 100vh;
	/* font-family: 'Jost', sans-serif;  */
	/* background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e); */

}

/* .AuthPage {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--white);
  border-radius: 2vmin;
} */

.AuthPage h3 {
  margin-top: 4vmin;
  text-align: center;
  color: var(--text-light);
  cursor: pointer;
}

button.btn.btn-primary.btn-lg:hovor{
	background-color: antiquewhite;
}

.AuthPage div.form-container {
	width: 409.73px;
	height: 583.11px;
}

.AuthPage button{
	width: 152.04px;
}

.AuthPage button:hover {
	background-color: white;
}