.NewOrderPage {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-column: span 2; */
  grid-gap: 10px;

  grid-template-rows: 2fr;
  /* background-color: var(--white); */
  border-radius: 2vmin;
}

.NewOrderPage aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 3vmin 2vmin;
}

.nav.nav-pills {
  grid-column: 1 / 3;
}