.BookDetailPage h3 {
  text-align: center;
}
.BookDetailPage img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  float:right;
  padding-right: 2%;
  margin-left: 5%;
  margin-bottom: 2%;
}
.BookDetailPage span {
  display: table;
  margin-left: 0;
  margin-right: auto;
}
.BookDetailPage div.toast.show {
  margin: auto;
  width: auto;
}

.BookDetailPage select {
  width:40%;
}

.BookDetailPage button.btn.btn-outline-secondary.btn-sm {
  /* display: inline-block; */
  float:right;
  /* text-align:right; */
}