.OrderDetail .total div {
  margin: 5px;
  padding: 5px;
  text-align: end;
  
}

.OrderDetail .total div.right {
  margin: 5px;
  padding: 5px;
  text-align: end;

}
.OrderDetail .total button {
  margin: 5px;
  align-items: end;
  float: right;
}

.OrderDetail .total span.right {
  margin: 5px;
  padding: 5px;
  float: right;
}
div.alert.alert-dismissible.alert-secondary{
  text-align: center;
  margin: 20px;
  padding: 30px;
}

.OrderDetail span.smaller {
  font-size: small;
  
}