/* .GenreList {
  color: var(--text-light);
  list-style: none;
  padding: 0;
  font-size: 1.7vw;
}

.GenreList li {
  padding: .6vmin;
  text-align: center;
  border-radius: .5vmin;
  margin-bottom: .5vmin;
}
    
.GenreList li:hover:not(.active) {
  cursor: pointer;
  background-color: var(--orange);
  color: var(--white);
}

.GenreList li.active {
  color: var(--text-dark);
  background-color: var(--tan-1);
  border: .1vmin solid var(--tan-3);
} */